.line-plot {
    fill: none;
    stroke-width: 1.5px;
    stroke: #333;
}

.grid path,
.grid line {
    stroke: #fff;
}

body {
    font-family: sans-serif;
}

body::before {
    content: "";
    background-image: url("background-img4.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    z-index:-1;
}

.background {
    margin-top: 2px;
}

.sections rect {
    fill: #d3d3d3;
}

h1 {
    margin-left: 0px;
    text-align: center;
}

div#main {
    display: inline;
}

label[for^=CLT] {
    color: rgb(31,119,180);
}

label[for^=CQT] {
    color: rgb(255, 127, 14);
}

label[for^=IND] {
    color: rgb(44, 160, 44);
}

label[for^=JAX] {
    color: rgb(214, 39, 40);
}

label[for^=MDW] {
    color: rgb(148, 103, 189);
}

label[for^=PHL] {
    color: rgb(140, 86, 75);
}

label[for^=PHX] {
    color: rgb(227, 119, 194);
}

#first-layer {
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 40px;
}

#second-layer {
    margin-right: 20px;
    margin-left: 20px;
    display: flexbox;
}

#first-layer form {
    width: 190px;
    height: 300px;
    margin-right: 20px;
    margin-top: 30px;
}

fieldset {
    background-color: #eee;
}

#second-layer .record-high {
    margin-top: 20px;
}

.graph-title {
    font-size: larger;
    font-weight: 500;
    fill: #333;
}

.graph-subtitle {
    font-size: smaller;
    font-style: italic;
    fill: darkslategray;
}

.x-axis-label, .x-axis-label-p {
    font-size: x-small;
    fill: darkslategray;
}

.y-axis-label, .y-axis-label-p {
    font-size: x-small;
    fill: darkslategray;
}
